.back-to-top {
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 1000;
}

.back-to-top button {
    background-color: #007bffc7;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 35px;
    cursor: pointer;
    font-size: 16px;
}

.back-to-top button:hover {
    background-color: #0056b3;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 991001;
    /* loader yuqori qatlamda bo'lishi kerak */
}

.loader {
    width: 100px;
    aspect-ratio: 1;
    display: grid;
    -webkit-mask: conic-gradient(from 15deg, #0000, #000);
    animation: l26 1s infinite steps(12);
}

.loader,
.loader:before,
.loader:after {
    background:
        radial-gradient(closest-side at 50% 12.5%,
            #33a4f0 96%, #0000) 50% 0/20% 80% repeat-y,
        radial-gradient(closest-side at 12.5% 50%,
            #33f0d0 96%, #0000) 0 50%/80% 20% repeat-x;
}

.loader:before,
.loader:after {
    content: "";
    grid-area: 1/1;
    transform: rotate(30deg);
}

.loader:after {
    transform: rotate(60deg);
}

@keyframes l26 {
    100% {
        transform: rotate(1turn)
    }
}


.Navbar1 {
    display: flex;
    justify-content: space-around;
    /* background-color: #00ffcc7b; */
    background-color: #d1d1d1;
    height: 55px;


}

.Navbar111 {


    cursor: pointer;
    width: 200px;
    height: 80px;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: -12px;


}

.Navbar11 {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 40px;
    transition: all 2s;

    li {
        cursor: pointer;
        color: #000;
    }

    li:hover {
        border-bottom: 3px solid rgb(0, 68, 255);
        transform: all 2s;
    }
}

.logo {
    width: 150px;
    height: 80px;

}

.Rasm1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 600px;
    background-image: url(/src/img/736_736_95_3854968363.jpg);

}

@media (width: 950px) {

    .Rasm1 {
        height: 400px;
    }
}

/* App.css */

.comment-box {


    position: fixed;
    z-index: 8888;
    text-align: center;
    width: 350px;

    border-radius: 0px 0px 15px 10px;

    color: white;
    border: 1px solid #ffffff;
    background-color: #11599d;

    &:hover {
        transition: all 2s;
    }
}
@media (max-width:710px) {
    .comment-box{
        margin-left: -80px;
    }
    
}
@media (max-width:600px) {
    .comment-box{
        margin-left: -120px;
    }
    
}

.btn {
    width: 90px;
    height: 25px;
    cursor: pointer;
    margin-bottom: 7px;
    background-color: #33f0d0;
    border: 0;
}

.area {
    height: 100px;
    resize: none;
    padding: 10px 15px;
    width: 300px;
    cursor: pointer;
}

.comment-parent {
    width: 100%;
    margin: auto;
    padding: 0px 35%;
}

.vf {
    display: flex;
    justify-content: space-evenly;

    text-align: center
}

.cx {
     
       
        transition: all 0.2s;
        width: 30px;
        cursor: pointer;
    &:hover{
        background-color: red;
    }
}

#fa {
    margin-left: 45px;
}

.popup {
    display: block;
    position: absolute;
    list-style: none;
    z-index: 9999989899999888;
    transition: all 0.4s;
    width: 250px;
    border-radius: 0px 0px 15px 10px;
    height: 270px;
    
 
    border: 1px solid #000;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
@media (max-width:350px) {
    .popup{
        width: 260px;
    }
    
}

.xxx {
    padding: 10px 15px;
    gap: 100px;
    display: flex;

    .xx {
        width: 30px;
        text-align: center;

        transition: all 0.2s;

        &:hover {
            background-color: red;
            cursor: pointer;
            color: white;
        }
    }

}

.sxa {
    color: black;
    padding: 2px 16px;

    &:hover {
        border-bottom: 2px solid rgb(0, 162, 255);
    }

}