* {
    margin: 0;
    padding: 0;
    user-select: none;
}

.container {
    max-width: 1540px;
    background-color: #ffffff;
    margin: auto;
    padding: 0px 5px;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;

}

::-webkit-scrollbar-thumb {
    background-color: #0b1bfa;
    border-radius: 8px;
    cursor: pointer;
}
